<h1>Ejercicio 6: Solicitud de comedor</h1>
<h2>Nueva solicitud</h2>

<div>
 <p>
   <label >Nombre:</label>
   <br/>
<input type="text" id="nombre" [value]="solicitud.nombre" (keyup)="cambiarNombre($event)" />
 </p>
 <p>
   &nbsp;
 </p>
<p>
  <label>Apellidos:</label>
  <br/>
  <input type="text" id="nombre"  [value]="solicitud.apellidos" (keyup)="cambiarApellidos($event)" />
<p>
  &nbsp;
</p>
<input type="button" (click)="enviar()" value="Enviar" [disabled]="getDisabled()" />
&nbsp;&nbsp;
<input type="button" (click)="eliminar()" value="Eliminar"  />

<div>
