<h3>Ejercicio 4</h3>

<span [style.color]="+solicitud.numeroAleatorio >0.5 ? 'red' : 'blue' ">{{solicitud.numeroAleatorio}}</span>
<span [style.color]="+solicitud.numeroAleatorio >0.5 ? 'red' : 'blue' ">{{solicitud.numeroAleatorio}}</span>
<span [ngClass]="{'invalid': invalido}">{{solicitud.numeroAleatorio}}</span>
<div>
 <p>
   <span>Nombre:</span>
<span [class.invalid] = "invalido">{{solicitud.nombre}}</span>
 </p>
 <p>
   &nbsp;
 </p>
<p>
  <span>Apellidos:</span>
  <span [textContent]="solicitud.apellidos" [style.background-color]="fondo"></span>
<p>
  &nbsp;
</p>

<div>
