<h1>Ejercicio 6: Solicitud de comedor</h1>
<h2>Nueva solicitud</h2>

<div>
 <p>
   <label >Nombre:</label>
   <br/>
<input type="text" id="nombre" [value]="solicitud.nombre" (keyup)="cambiarNombre($event)" />
 </p>
 <p>
   &nbsp;
 </p>
</div>
<div>
  <label>Apellidos:</label>
  <br/>
  <input type="text" id="nombre"  [value]="solicitud.apellidos" (keyup)="cambiarApellidos($event)" />

  <div *ngIf="getDisabled()">
    La longitud del nombre o los apellidos es inv&aacute;lida. Debe ser igual o superior a 3.
  </div>
<input type="button" (click)="enviar(solicitud)" value="Enviar" [disabled]="getDisabled()" />
&nbsp;&nbsp;
<input type="button" (click)="eliminar()" value="Eliminar"  />

</div>

<h2>Centro</h2>
<app-selector-centro></app-selector-centro>

<h2>Listado de solicitudes</h2>

<div *ngFor="let solicitud of solicitudes">
  <app-fila-solicitud [solicitud]="solicitud" (solicitudEliminada)="eliminarSolicitud(solicitud)"></app-fila-solicitud>

</div>

<app-centro></app-centro>
